@import url('/node_modules/font-awesome/css/font-awesome.css');

:root {
  --color-one: #141332;
  --color-two: #1D1D41;
  --color-three: #6057E2;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: var(--color-one);
}

.app {
  max-width: 1920px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  padding: 20px;
}

.sidebar {
  background-color: var(--color-two);
  border-radius: 10px;
  margin-right: 20px;
}

.sidebar-menu {
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-item {
  height: 120px;
  width: 120px;
}

.sidebar-menu-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
}

.sidebar-menu-item-link-active {
  background-color: var(--color-three);
}

.sidebar-menu-item-link:hover {
  background-color: var(--color-three);
}

.sidebar-menu-item-link-icon {
  font-size: 50px;
}

.sidebar-menu-item-link-text {
  font-size: 10px;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  background-color: var(--color-two);
  color: white;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.content-header-search {
  display: flex;
  align-items: center;
}

.content-header-search-icon {
  height: 40px;
  background-color: var(--color-three);
  color: white;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.content-header-search-input {
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  height: 40px;
}

.content-header-actions {
  display: flex;
}

.content-header-actions-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: transparent;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.content-header-actions-btn:hover, .content-header-actions-btn:hover > * {
  background-color: var(--color-three);
  color: white;
}

.content-header-actions-btn-icon {
  font-size: 15px;
  color: var(--color-three);
}

.content-body {
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}

.content-body-table {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.content-body-table-row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.content-body-table-body > .content-body-table-row:hover {
  background-color: var(--color-three);
  color: white;
  cursor: pointer;
}

.content-body-table-row-item {
  width: 100%;
  padding: 10px;
}

.content-body-table-actions {
  padding: 10px;
  background-color: white;
}

.content-body-table-actions-text {
  color: black;
}

.content-body-table-header {
  background-color: var(--color-one);
  height: 100px;
}

.content-body-table-body {
  background-color: white;
  color: black;
  overflow: auto;
  height: 100%;
}

.content-body-table-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: var(--color-one);
  height: 100px;
}

.content-body-table-footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.content-body-table-footer-box:hover {
  background-color: var(--color-three);
}

.content-footer {
  border-radius: 5px;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal */

/* Estilos para el modal */
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: white;
  color: black;
  width: 60%;
  max-width: 500px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content__x2 {
  max-width: 1200px;
}

.modal-content-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content-actions-cancel {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: red;
  cursor: pointer;
}

.modal-content-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.modal-content-form-file {
  border: 2px solid #f2f2f2;
  width: 100%;
  border-radius: 5px;
}

.modal-content-form-file::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--color-two);
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.modal-content-form-file::file-selector-button:hover {
  background: var(--color-three);
}

.modal-content-form-load {
  padding: 10px;
  background-color: var(--color-two);
  color: white;
  border-radius: 5px;
  transition: background .2s ease-in-out;
  cursor: pointer;
}

.modal-content-form-load:hover {
  background-color: var(--color-three);
}

/* Estilos para la barra de progreso */
.progress {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.content-header-actions-btn1 {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 10px;
  color: black;
  background-color: transparent;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.content-header-actions-btn1:hover, .content-header-actions-btn1:hover > * {
  background-color: var(--color-three);
  color: white;
}

.content-header-actions-btn-icon {
  font-size: 15px;
  color: var(--color-three);
}